body {

    background-image: url("f1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  p{
      font-size: 25px;
  }

  h1{
      font-size: 35px;
  }